.p-speeddial .p-speeddial-action .p-speeddial-label {
  display: inline-block;
  margin-left: 10px; /* רווח בין האייקון לכיתוב */
  font-size: 14px;  /* גודל כיתוב */
  color: #333;      /* צבע כיתוב */
}